.product{
    padding-right: 10px;
    z-index: 1;
    width: 1142px;
    height: 1008.03px;
    margin: 60px 150px 127px 115px;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    align-items: center;
    h2{
        color: $main-color;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
    }
    .btn_change_slide_sp{
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 188px;
            height: 48px;
            border-radius: 24px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin-right: 20px;
            border: 2px solid $main-color;
            transition: all 0.25s;
            &:hover{
                background-color: $main-color;
                color: white;
            }

        }
    }
    &-list{
        padding-top: 32px;
        padding-left: 10px;
        padding-right: 15px;
        width: 1142px;
        height: 1000.03px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        &-element{
            transition: all 0.25s ease-in-out;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                z-index: 10;
                position: relative;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Thêm box-shadow khi hover */
            }
            
            width: 258px;
            height: 409.02px;   
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin: 10px 10px;
            border: 0.925615px solid #FFD3DB;
            border-radius: 30px;
            h3{
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                margin-top: 11.11px;
                margin-left: 22.28px;
                &:hover{
                    text-shadow: 0.25px 0.25px 0 gray, -0.25px -0.25px 0 gray, 0.25px -0.25px 0 gray, -0.25px 0.25px 0 gray;
                }
            }
            .cr-price{
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                margin-left: 22.28px;
                color: $main-color;
            }
            .sale-price{
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
                text-decoration-line: line-through;
                color: $main-text-color;
                margin-left: 8px;
            }
            img{
                transition: all 0.25s linear;
                border-top-right-radius: 30px;
                border-top-left-radius: 30px;
                &:hover:active{
                    border-radius: 10%;
                    transform: scale(1.1);
                    border: 2px solid $main-color;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                }
            }
            div{
                display: flex;
            }
            button{
                margin-left: 22.28px;
                margin-top: 17.45px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 218px;
                height: 32px;
                border-radius: 18px;
                border: 1px solid $main-color;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                transition: all 0.25s;
                &:hover{
                    transform: scale(1.1);
                    &:active{
                        color: white;
                        background-color: $main-color;

                    }
                    
                }
            }
            .thongbao {
                position: fixed;
                bottom: -29px;
                left: 26px;
                display: none;
                color: $main-color;
                margin: 0px;
                font-weight: 600;
            }
            
        }
        
    }
}
