@import 'typography';
@import 'variable';
@import 'mixin';

.btn_hotline{
    position: absolute;
    position: fixed;
    right: 20px;
    bottom: 20px;
    animation: shake 0.25s infinite;

    &:hover{
        cursor: pointer;

    }
}
@keyframes shake {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(2.5px, 0);
    }
    50% {
      transform: translate(0, 2.5px);
    }
    75% {
      transform: translate(-2.5px, 0);
    }
    100% {
      transform: translate(0, -2.5px);
    }
  }