
button{
    all: unset;
    &:hover{
        cursor: pointer;
    }
}
a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
        color: $main-color;
    }
}
body{
    margin: 0px;
    font-family: $main-font;    
}
header{
    font-family: $main-font;
}
input{
    all: unset;
}
.option_buy{
    background-color: $main-color;
}
.hover_button{
    background: white;
    color: $main-color;
    
}
.mouseleave{
    background: $main-color;
    color: white;
}
.chosen{
    background-color: #d27e7e;
}
.chosen2{
    background-color: rgb(203, 203, 217);
}
@keyframes zoom-in-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
