
button{
    all: unset;
    &:hover{
        cursor: pointer;
    }
}
a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
        color: $main-color;
    }
}
body{
    margin: 0px;
    font-family: $main-font;    
}
header{
    font-family: $main-font;
}
input{
    all: unset;
}
.option_buy{
    background-color: $main-color;
}
.hover_button{
    background: white;
    color: $main-color;
    
}
.mouseleave{
    background: $main-color;
    color: white;
}
.chosen{
    &::before{
        content: "";
        background-color: $main-color;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        position: relative;
        transition: all 0.25s;
        animation: fadeIn 0.25s ease-in-out forwards;
    }
    background-color: white;
}
.chosen2{
    background: linear-gradient(-45deg, #ffffff, #cce668, #ffffff, #dff232);
    animation: gradient 15s ease infinite;
}
@keyframes zoom-in-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  